<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleHelloWorld.css">
    <title>Hello World Test Site</title>
</head>
<body>
    <form action="/submitFeeling" method="post">
        <h1>Hello World</h1>
        <p>I am dedicated to making this project as good as I can</p>
        <label for="feeling">How do you feel today?</label>
        <input type="text" id="feeling" name="feeling" placeholder="Enter your feeling...">
    </form>
</body>
</html>